[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-base"]
	path = themes/hugo-base
	url = https://github.com/crakjie/hugo-base-theme.git
[submodule "themes/creative"]
	path = themes/creative
	url = https://github.com/digitalcraftsman/hugo-creative-theme.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/sethmacleod/dimension.git
